/* Global Rules */
:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background: #f6f6f6;
    --main-duration: 0.5s;
  }
* {
    --webkit-box-sizing: border-box;
    --moz-box-sizing: border-box;
    --box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
}
@media (min-width: 768px) {
    .sectionm {
        width: 98%;
    }
}
@media (min-width: 992px) {
    .sectionm {
        width: 98%;
    }
}
@media (min-width: 1200px) {
    .sectionm {
        width: 98%;
    }
}
@media (min-width:2560px) {
    .sectionm {
        width: 98%;
    }
}
@media (min-width:600px) {
    .sectionm {
        width: 98%;
    }
}
@media (min-width: 767px) {
    .services .services-content .srv {
       flex-direction: column;
       text-align: center;
    }
 }

@media (min-width: 1920px) {
   .services .services-content .srv {
      flex-direction: column;
      text-align: center;
      position: relative;
      left: 110%;
   }
}
@media (min-width: 1920px) {
    .portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 80px;
    position: relative;
    left: 20%;
    }
}
/* E Global Rules */
/* serviser */
.special-heading {
    color: #000000;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;

}
#special-heading-b {
    color: #ffffff;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}
#special-heading-b + p{
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #777;
}
.special-heading + p{
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #777;
}
@media (min-width: 767px) {
    .special-heading {
    font-size: 60px;
    }
    .special-heading + p {
    margin-top: -20px;

    }
}
  /*  */
.header {
    padding: -5px;
}
.header .sectionm {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .login {
    color: #ddd;
    text-decoration: double;
    margin: 5px;
    border-radius: 10px  rgb(224, 140, 140);
}
.header .logo {
    width: 150px;
}
.header .links {
    position: relative;
}
.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}
.header .links .icon {
    width: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .links .icon span {
    background-color: rgb(255, 255, 255);
    margin-bottom: 5px;
    height: 3px;
}
.header .links .icon span:first-child {
    width: 100%;
}
.header .links .icon span:nth-child(2) {
    width: 60%;
    transition: 0.6s;
}
.header .links .icon span:last-child {
    width: 100%;
}
.header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: var(--section-background);
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
}
.header .links ul li:first-child {
    background-color: #ffffff;
}
.header .links ul li:nth-child(2) {
    background-color: #ffffff;
}
.header .links ul li:nth-child(3) {
    background-color: #ffffff;
}
.header .links ul li:last-child {
    background-color: #ffffff;
}
.header .links ul li a:first-child {
    color: #000000;
    font-weight: 800;
}

.header .links ul::before {
        content: "";
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent 
        rgb(255, 255, 255) transparent;
        position: absolute;
        right: 2px;
        top: -18px;
}
.header .links:hover ul {
    display: block;
}
.header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.3s;
}
.header .links ul li a:hover {
    padding-left: 25px;
}
.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}
.lading {
    background-image: url(/Y-Axis/image/lading.jpg);
    background-size: cover;
    height: calc(100vh + 64px);
    position: relative;
}
.lading .text {
    position: absolute;
    left: 50%;
    top: 8%;
    transform: translate(-50%, -50%);
    text-align: center;
    position: absolute;
}
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    padding: 5px;
 }
 .services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
 }
 .services .services-content .srv {
    display: flex;
    margin-bottom: 40px;
 }

 .services .services-content .srv .text { 
    flex: 1;

}
.services .services-content .srv .text h3 {
    margin: 5 0 20 5;
    color: #ffffff;
    font-weight: 800;
    position: relative;
    left: 50%;
 }
 .services .services-content .srv .text  p {
    color: #777;
    font-weight: 800;
    line-height: 1.8;
    align-items: center;
    position: relative;
    left: 55%;
 }
 .services .services-content img {
    text-align: center;
    position: relative;
 }
 .services .services-content .srv img {
    text-align: center;
    position: relative;
 }
 .services .services-content .srv img {
    width: 200px;
    height: 150px;
    top: 25%;
    left: 70%;
    border-top-right-radius: 88px;
    border-bottom-left-radius: 88px;
 }

/*  */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color:white;
 
 }
 .portfolio .conterinr special-heading-b  {
    color: white;
 }
 .portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 80px;
 }
 .portfolio .portfolio-content .crad {
    background-color: rgb(0, 0, 0);
 }
 .portfolio .portfolio-content .crad  img {
    max-width: 100%;
 }
 .portfolio .portfolio-content .crad .info {
    padding: 20px;
 }
 .portfolio .portfolio-content .crad .info h3 {
    margin: 0;
    color: #ffffff;

 }
 .portfolio .portfolio-content .crad .info p {
    color: #777;
    line-height: 1.8;
    margin-bottom: 0;
 }


 .about {
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 60px);
  }
  .about .about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media (max-width: 991px) {
    .about .about-content {
      flex-direction: column;
      text-align: center;
    }
  }
  .about .about-content .image {
    position: relative;
    width: 250px;
    height: 375px;
  }
  @media (max-width: 991px) {
    .about .about-content .image {
      margin: 0 auto 60px;
    }
  }
  .about .about-content .image::before {
    top: -85px;
    content: "";
    position: absolute;
    width: 190px;
    height: 334px;
    border-right: 70px solid var(--main-color);
    border-top: 53px solid var(--main-color);
    border-bottom: 70px solid;
    border-left: 41px solid;
    z-index: -1;
    right: -172px;
  }
  .about .about-content .image::after {
    top: -85px;
    content: "";
    position: absolute;
    width: 190px;
    height: 334px;
    border-right: 70px solid var(--main-color);
    border-top: 53px solid var(--main-color);
    border-bottom: 70px solid;
    border-left: 41px solid;
    z-index: -1;
    right: -172px;
}
@media (max-width: 991px) {
    .about .about-content .image::before,
    .about .about-content .image::after {
    display: none;
    }
  }
  .about .about-content .image img {
    position: relative;
    width: 340px;
    height: 300px;
    bottom: 5%;
  }
  .about .about-content .text {
    flex-basis: calc(100% - 500px);
  }
  .about .about-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
    color: #777;
  }
  .about .about-content .text hr {
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
    position: relative;
    bottom: 8%;
  }
  .about .about-content .text p:last-of-type {
    line-height: 2;
    color: #777;
  }
  footer {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
  }
  footer hr {
    width: 50%;
    display: inline-block;
    border: 1px solid var(--main-color) ;
    border-color: var(--main-color);
    position: relative;
    top: -125px;
    left: 25%;
  }
  footer .fot-a {
    padding: 3px;
    margin: 3px;
  }
footer .fot-a p {
    position: relative;
    color: #777;
}
footer .fot-a .icon {
    padding-left: 2%;
    display: block;
    position: relative;
    top: -10ch;
}
input[type="name"]{
    position: absolute;
    outline: none;
    border: none;
    width: 353px;
    height: 35px;
    text-align: -webkit-center;
    border-bottom: 2px solid #0094ff;
    background: none;
    padding: 5px;
    color: #ddd;
    top: 3040px;
    left: 39%;
}

input[type="Email"]{
    position: absolute;
    outline: none;
    border: none;
    width: 353px;
    height: 35px;
    text-align: -webkit-center;
    border-bottom: 2px solid #0094ff;
    background: none;
    padding: 5px;
    color: #ddd;
    top: 3090px;
    left: 39%;
}
input[type="button"] {
    position: absolute;
    left: 46%;
    background-color: var(--main-color);
    border: none;
    outline: none;
    color: rgb(0 0 0);
    border-radius: 15px;
    font-size: 20px;
    top: 3190px;
    width: 15%;
}
input[type="button"]:hover {
    background: rgb(255, 255, 255);
    color: #89b3d1;
}
input[type="Email"] {
    background:none;
    color: #89b3d1;
}
input[type="name"] {
    background: none;
    color: #89b3d1;
}
.fot-a   {
    position: absolute;
    top: 345%;
    left: 5px;
}
.fot-b {
    position: absolute;
    padding: 2px;
    left: 90%;
    top: 345%;
}
/* Midea Footer */
@media (max-width:1440px) {
    .fot-a {
        position: absolute;
        top: 3383px;
    }
    .fot-b {
        position: absolute;
        padding: 2px;
        left: 91%;
        top: 268%;
    }
    input[type="name"] {
        position: absolute;
        top: 269%;
        left: 39%;
    }
    input[type="Email"] {
        position: absolute;
        top: 275%;
        left: 39%;
    }
    input[type="button"] {
        position: absolute;
        top: 283%;
        left: 44%;
}
footer .copy {
    position: absolute;
    top: 289%;
    left: 44%;
    color: #ffffff;
}
}
/* 1024 */
@media (max-width:1024px) {
    .fot-a {
        position: absolute;
        top: 3227px
    }
    .fot-b {
        position: absolute;
        padding: 2px;
        left: 88%;
        top: 296%;
    }
    input[type="name"] {
        position: absolute;
        top: 297%;
        left: 34%;
    }
    input[type="Email"] {
        position: absolute;
        top: 304%;
        left: 34%;
    }
    input[type="button"] {
        position: absolute;
        left: 45%;
        background-color: var(--main-color);
        border: none;
        outline: none;
        color: rgb(0 0 0);
        border-radius: 15px;
        font-size: 20px;
        top: 3443px;
        width: 15%;
}
footer .copy {

    position: absolute;
    top: 318%;
    left: 40%;
    color: #ffffff;
}
}
/* 1280 */
@media (max-width:1280px) {
    .fot-a {
        position: absolute;
        top: 330%;
    }
    .fot-b {
        position: absolute;
        padding: 2px;
        left: 91%;
        top: 330%;
    }
    input[type="name"] {
        position: absolute;
        top: 330%;
        left: 40%;
    }
    input[type="Email"] {
        position: absolute;
        top: 335%;
        left: 40%;
    }
    input[type="button"] {
        position: absolute;
        top: 345%;
        left: 46%;
}
footer .copy {
    position: absolute;
    top: 350%;
    left: 40%;
    color: #ffffff;
}
}
/* 375 */
@media (max-width:375px) {
    .fot-a {
        position: absolute;
        top: 568%;
    }
    .fot-b {
        position: absolute;
        padding: 2px;
        left: 94%;
        top: 569%;
    }
    input[type="name"] {
        position: absolute;
        top: 569%;
        left: 25%;
        width: 52%;
    }
    input[type="Email"] {
        position: absolute;
        top: 577%;
        left: 25%;
        width: 52%;
    }
    input[type="button"] {
        position: absolute;
        left: 33%;
        background-color: var(--main-color);
        border: none;
        outline: none;
        color: rgb(0 0 0);
        border-radius: 15px;
        font-size: 20px;
        top: 585%;
        width: 37%;
}
footer .copy {
    position: absolute;
    top: 318%;
    left: 40%;
    color: #ffffff;
}
}
/* 768 */
@media (max-width:768px) {
    .fot-a {
        position: absolute;
        padding: 2px;
        left: 0%;
        top: 439%;
    
    }
    .fot-b {
        position: absolute;
        padding: 2px;
        left: 102%;
        top: 439%;
    
    }
    input[type="name"] {
        position: absolute;
        top: 439%;
        left: 27%;
    }
    input[type="Email"] {
        position: absolute;
        top: 446%;
        left: 27%;
    }
    input[type="button"] {
        position: absolute;
        top: 455%;
        left: 26%;
        width: 50%;
}
footer .copy {
    position: absolute;
    top: 350%;
    left: 40%;
    color: #ffffff;
}
}
/* 320 */
@media (max-width:320px) {
    .fot-a {
        position: absolute;
        top: 610%;
        left: 1%;    
    }
    .fot-b {
        position: absolute;
        padding: 2px;
        left: 122%;
        top: 609%;
    }
    input[type="name"] {
        position: absolute;
        top: 610%;
        left: 38%;
        width: 61%;
    }
    input[type="Email"] {
        position: absolute;
        top: 616%;
        width: 62%;
        left: 38%;
    }
    input[type="button"] {
        position: absolute;
        left: 49%;
        background-color: var(--main-color);
        border: none;
        outline: none;
        color: rgb(0 0 0);
        border-radius: 15px;
        font-size: 22px;
        top: 626%;
        width: 43%;
}
footer .copy {
    position: absolute;
    top: 630%;
    left: 43%;
    font-size: 75%;
    color: #ffffff;
}
}
/* Global Rules Media */
@media (max-width: 2560px) {
    .sectionm {
    width: 118%;
    }
    .lading {
        background-image: url(/Y-Axis/image/lading.jpg);
        background-size: cover;
        height: calc(100vh + 64px);
        position: relative;
        width: 120%;
    }
.services .services-content .srv img {
    width: 335px;
    height: 196px;
    top: 12%;
    left: 248%;
    border-top-right-radius: 88px;
    border-bottom-left-radius: 88px;
}
.services .services-content .srv .text p {
    color: #777;
    font-weight: bold;
    line-height: 1.8;
    align-items: center;
    position: relative;
    left: 214%;
}
.services .services-content .srv .text h3 {
    color: #ffffff;
    font-weight: 800;
    position: relative;
    left: 214%;
}
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: transparent;
}
.portfolio .portfolio-content .crad img {
    max-width: 100%;
    position: relative;
    left: 90%;
}
.portfolio .portfolio-content .crad .info h3 {
    margin: 0;
    color: #ffffff;
    position: relative;
    left: 100%;
}
.portfolio .portfolio-content .crad .info p {
    color: #777;
    line-height: 1.8;
    margin-bottom: 0;
    position: relative;
    left: 100%;
}
.about .about-content .image::before {
    top: -85px;
    content: "";
    position: absolute;
    width: 190px;
    height: 334px;
    border-right: 70px solid var(--main-color);
    border-top: 53px solid var(--main-color);
    border-bottom: 70px solid;
    border-left: 41px solid;
    z-index: -1;
    right: -433px;
}
.about .about-content .image img {
    position: relative;
    width: 340px;
    height: 300px;
    bottom: 5%;
    left: 103%;
}
.about .about-content .image::after {
    top: -85px;
    content: "";
    position: absolute;
    width: 190px;
    height: 334px;
    border-right: 70px solid var(--main-color);
    border-top: 53px solid var(--main-color);
    border-bottom: 70px solid;
    border-left: 41px solid;
    z-index: -1;
    right: -434px;
}
.about .about-content .text hr {
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
    position: relative;
    bottom: 8%;
    position: relative;
    left: 20%;
}
.about .about-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
    color: #777;
    position: relative;
    left: 20%;
}
.about .about-content .text p:last-of-type {
    line-height: 2;
    color: #777;
    position: relative;
    left: 20%;
}
}